*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 3px;
}
::-webkit-scrollbar-track {
    background: #fffaf0;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ed1c24;
  }
  
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}

header, footer {
    display: flex;
    justify-content: space-between;   
}
header{
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    align-items: center;
    padding: 10px 15px 0px;
    z-index: 1;
}

#logo{
height: 50px;
}

#nav{
    display: flex;
    list-style: none;
    margin-right: 3%;      
}
.navItems{
    color: #131313;
}

.navItems:hover{
    color: #ed1c24;
    padding: 5px;
    border: #F5DBCB 2px solid;
    border-radius: 20px;
    background-color: #F5DBCB;
}
li{
    padding: 10px;
    font-family: 'Staatliches', cursive;
    
}
.dropdown{
    display: none;
}
#main{
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5DBCB;
}

#slogan{
    width: 50%;
    padding-left: 30px;
    position: relative;
    font-family: 'Staatliches', cursive;
    color: #ed1c24;
}

#text1{
    font-size: 3vw;
    font-family: 'Voltaire', sans-serif;
    text-shadow: white -2px 0px;
    
    
}
#text2{
    font-size: 7vw;
    text-shadow: white -4px 0px;
    border-bottom: dashed white 20px; 
}
#burger{
    object-fit:cover;
    object-position: 10% 30px 120px; /*have to change this when making responsive design*/
    height: auto;
    width: 58%;
    float: center;
}

#arrowDiv{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #F5DBCB;
}
#arrow{
    color: #F5DBCB;
    padding: 5px;
    border: #F5DBCB 3px solid;
    border-radius: 50px;
}

#story{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 120px 100px;
    color: #ed1c24;
    background-color:#fffaf0;
}
h2{
    font-size: 5vw;
    font-family: 'Staatliches', cursive;
}

#storytext{
    font-family: 'Voltaire', sans-serif;
    font-size: 2.1vw;
}
footer{
    height: 23vh;
    padding: 0 15px;
    background-color: #ed1c24;
    align-items: center;
    color: white;
    font-family: 'Staatliches', cursive;
    overflow: hidden;
    margin-top: auto;
}

#socials{
    font-size: 25px;  
}
h3{
    font-size: 25px;
}
address{
    font-size: 15px;
}
.icons{
    color: white;
    padding: 5px;
}
 #contact{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
 .icons2{
    color: white;
}

.employment{
    cursor: pointer;
}
.popupInfo{
    visibility: hidden;
    position: absolute;
    height: auto;
    width: auto;
    font-size: 17px;
    background-color: #F5DBCB;
    border: #ed1c24 3px solid;
    border-radius: 15px;
    color: #ed1c24;
    font-family: 'Voltaire', sans-serif;
}
#x{
    cursor: pointer;
    float: right;
    font-size: 20px;
    color: #fffaf0;
    border: none;
    background-color: #F5DBCB;
}
#download{
    font-size: 18px;
    color: #fffaf0;
    padding: 2px;
    border: solid #fffaf0 3px;
    border-radius: 7px;
}

#download:hover{
    color: #F5DBCB;
    background-color: #fffaf0;
}
.show {
    visibility: visible;
    position: fixed;
    width: 30vw;
    height: auto;
    text-align: center;
    padding: 10px;
    left: 69%;
    bottom: 100px;
    z-index: 1;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/*menu page*/
#title {
    margin: 30px 30px 0px;
    text-align: center;
    font-family: 'Staatliches', cursive;
    text-decoration: underline;
    font-size: 10vw;
    background-color: #fffaf0;
    box-shadow: 0px 30px 30px 0px #F5DBCB;
}
#menu{
    display: flex;
    justify-content: space-around;
    font-family: 'Voltaire', sans-serif;
    padding-top: 50px;
    color: #131313;
    background-color: #fffaf0;
    box-shadow: 0px 30px 30px 0px #F5DBCB;
    margin: 0px 30px 0;
    
}

#extraInfo{  
    font-family: 'Voltaire', sans-serif;
    text-align: center;
    color: #131313;
    background-color: #fffaf0;
    box-shadow: 0px 20px 30px 0px #F5DBCB;
    margin: 0px 30px 30px;
    
}

.section{    
   display: flex;
   flex-direction: column;
   align-items: center;
   border-bottom: solid 10px #131313;
   margin-bottom: 50px;
}
.sectionAlt{
    width: 100%;
    margin: auto;
}
.sectionTitle{
    font-size: 5.5vw;
    padding-bottom: 20px;
}
.sectionTitleAlt{
    font-size: 5.5vw;
}

.itemContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.item{
    font-size: 3.3vw;
}
.description{
    font-size: 2vw;
}
.descriptionAlt{
    font-size:1.5vw;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

#visitUsContainer{
    width: 95%;
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    margin: auto;
    padding: 20px 0px;
    background-color: #fffaf0;
    box-shadow: 0px 20px 30px 0px #F5DBCB;
}

#hours, #location{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Voltaire', sans-serif;
    width: 100%;
    text-align: center;
}
.visitUsTitle{
    text-decoration: underline;
}
#hoursDescription{
    padding-top: 100px;
    font-size: 2vw;
}

#callContainer{
padding-top: 150px;
font-size: 3vw;
}
#call{
    margin-bottom: 5px; 
}
#call2{
    color: #ed1c24;
    padding: 4px;
    border: 1px solid #F5DBCB;
    border-radius: 10px;
    background-color: #F5DBCB;
}
#map{
    width: 40vw;
    height: 300px;
    margin-bottom: 20px;
    border: 10px solid #F5DBCB;
    border-radius: 20px;
    box-shadow: 10px 10px #ed1c24;
}

#galleryContainer{
    width: 85%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffaf0;
    box-shadow: 0px 20px 30px 0px #F5DBCB;
    border-radius: 5px;
}
#grid{
    width: 100%;
    height: 50vh;
    
    display: grid;
    grid-template-columns: repeat(3, 10fr);
    grid-template-rows: repeat(8, 15vw);
    grid-gap: 10px;
}

@media (min-width:10px) and (max-width:480px){
 
    #nav{
        display: none;
    }
    .dropdown{
        display:flex;
        flex-direction: column;
        align-items: flex-end;
        font-family: 'Staatliches', cursive;
    }
    .btn{
        background-color: transparent;
        border: none;
        font-size: 20px;
        padding: 5px;
        border-radius: 5px;
    }
    .btn-active{
        background-color: #F5DBCB;
        color: #ed1c24;
    }
    .dropdown-menu{
        position: absolute;
        top: 80%;
        visibility:hidden;
    }
    .visible{
        display:flex;
        flex-direction: column;
        transition: all 0.3s ease .1s;
        position: absolute;
        top: 90%;
        visibility:visible;
        list-style: none;
        z-index: 1;
        background-color: #fffaf0;
        box-shadow: 0px 5px 20px 1px #F5DBCB ;
        border-radius: 5px;
    }
    .dropdown-item{
        padding: 15px;
        color: #131313;  
    }
    .dropdown-item:active{
        color: #ed1c24;
        text-decoration: underline;
    }

    #main{
        height: 70vh;
        flex-direction: column;
    }
    
    #slogan{
        width: 85%;
        padding-left: 0px;
        padding-top: 60px;
    }
    
    #text1{
        font-size: 7vw;
    }
    #text2{
        font-size: 13vw; 
        margin-bottom: 60px;
    }
    #burger{
        object-position: 0px -100px; /*have to change this when making responsive design*/
        width: 100vw;
        
    }

    #arrowDiv{
        padding: 80px;
    }

    #story{
        padding: 30px 20px;
    }
    h2{
        font-size: 10vw;
    }
    
    #storytext{
        font-size: 4vw;
    }

    .show {
        width: 70vw;
        left: 29%;
        bottom: 130px;
      }

      #title {
        font-size: 17vw;
      }
      #menu{
        flex-direction: column;
      }
      #extraInfo{
        padding: 0 30px;
      }

      .section{    
        margin: 0px 30px 50px;
     }

     .sectionTitle{
         font-size: 11vw;
     }
     .sectionTitleAlt{
         font-size: 11vw;
     }
     
     .item{
         font-size: 6vw;
     }
     .description{
         font-size: 4.5vw;
     }
     .descriptionAlt{
         font-size:4vw;
         margin-bottom: 30px;
         padding-bottom: 30px;
     }

     #visitUsContainer{
        flex-direction: column;
        margin: 30px 10px;
        padding: 20px 0px;
    }

    .visitUsTitle{
        text-decoration: underline;
        font-size: 14vw;
        padding-bottom: 5px;
    }
    #hoursDescription{
        padding-top: 10px;
        font-size: 5vw;
    }

    #callContainer{
        padding: 40px 0px 30px;
        margin-bottom: 30px;
        font-size: 7vw;
        }

        #call{
            margin-bottom: 5px; 
        }
   
    #map{
        width: 93vw;
        height: 300px;
        border: none;
        box-shadow: 0px 2px 10px 5px #F5DBCB;
    }
    
}


